body {
  display: flex;
  justify-content: center;
}

.mode_con {
  width: 80px;
  height: 26px;
  background-color: grey;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5px;
}
.but {
  width: 20px;
  height: 20px;
  background-color: rgb(48, 47, 47);
  border-radius: 50%;
}

#kapsa {
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  font-size: 30px;
  font-weight: 400;
}
#print {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  background-color: black;
  border-bottom: 1px solid rgb(99, 99, 99);
}
#print_input {
  width: 100%;
  background-color: black;
  color: aliceblue;
  border: none;
}

#buttons .row .col {
  background-color: rgb(22, 22, 22);
  padding: 0;
  margin: 4px 4px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons .row .col:hover {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}

@media (max-width: 576px) {
  #kapsa {
    width: 100%;
    height: 100%;
    padding: 0px 20px !important;
    border-radius: 0;
  }
  #buttons .row .col {
    padding: 0;
    margin: 7px;
    height: 78px;
    border-radius: 50%;
  }
  #buttons {
    height: 60% !important;
  }
  #print {
    height: 25% !important;
    margin-bottom: 10% !important ;
  }
}
